.slider-button {
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline-offset: 5px;

  &::before {
    content: "";
    width: 18px;
    height: 33px;
    transform: rotate(180deg);
    mask-image: url("../__spritemap#sprite-arrow-right-view");
    background-color: $primary-color;
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
  }


  &:disabled {
    cursor: default;
    opacity: 0.3;
  }

  &:not(:disabled):focus-visible {
    background-color: $price-shadow;
    border: 1px solid $primary-color;
  }

  &:not(:disabled):hover {
    border: 1px solid $primary-color;
  }

  &:not(:disabled):active {
    background-color: $primary-color;

    &::before {
      background-color: $white;
    }
  }
}

.slider-button--next {
  &::before {
    transform: initial;
  }
}
